.negro{
position:absolute;
top:0px;
width:.1em;
height:270px;
margin-top:30px;
background-color:#cc0000;
border-bottom:270px solid #181818;
}
.negro1{
position:absolute;
top:0px;
width:3px;
height:225px;
margin-top:75px;
background-color:#b0b0b0;
border-bottom:225px solid #181818;
}
.negro2{
position:absolute;
top:0px;
width:4px;
height:180px;
margin-top:120px;
background-color:#606060;
border-bottom:180px solid #181818;
}

#dot{
position:absolute;
top:0px;
margin:285px 0px 0px -13px;
background-color:#171717;
width:30px;
height:30px;
border-radius:15px;
}

.center{
float:left;
width:300px;
height:600px;
}

.biggest{
position:absolute;
width:600px;
height:600px;
text-align:center;
background-color:#181818;
border:10px solid #000000;
border-radius:300px;
}

.number12{
font-family:"Ubuntu";
color:#009966;
font-size:80px;
margin-top:10px;
text-align:center;
}
.number3{
color:#009966;
font-family:"Ubuntu";
font-size:80px;
margin:140px 10px 0px 0px;
text-align:right;
}
.number9{
color:#009966;
font-family:"Ubuntu";
margin:-85px 0px 0px 10px ;
font-size:80px;
text-align:left;
}
.number6{
color:#009966;
font-family:"Ubuntu";
margin-top:170px;
font-size:80px;
text-align:center;
}

.switch{
position:absolute;
margin:-55px 0px 0px -200px;
}