.container{
    position: relative;
    margin: auto;
    width:600px;
    height:600px;
    padding: 20px;
    text-align:center;
    background-color:#282828;
    border: 10px solid #000;
    border-radius:50%;
    }
    
#second{
    position:absolute;
    top:0px;
    width:2px;
    height:260px;
    margin-top:40px;
    background-color:#cc0000;
    border-bottom:260px solid #282828;
}
#minute{
    position:absolute;
    top:0px;
    width:3px;
    height:215px;
    margin-top:85px;
    background-color:#707070;
    border-bottom:215px solid #282828;
}
#hour{
    position:absolute;
    top:0px;
    width:4px;
    height:170px;
    margin-top:130px;
    background-color:#404040;
    border-bottom:170px solid #282828;
}

.center{
    position: absolute;
    width:300px;
    height:600px;
    left: 320px;
}

.number{
    position: absolute;
    width: 600px;
    font-family:"Ubuntu";
    color:#009966;
    font-size:80px;
    line-height:80px;
}
.number12{
    margin: 0;
    text-align: center;
}
.number3{
    margin-top:260px;
    text-align: right;
}
.number9{
    margin-top:260px;
    text-align:left;
}
.number6{
    margin-top:520px;
    text-align:center;
}

.switch{
    position: relative;
    width: 400px;
    height: 400px;
    display: inline;
    top: 100px;
}